# P3. Exploration SQL

Le répertoire `/db` contient une base de données SQLite3 `olympics.sqbpro` reprenant les résultats des épreuves des jeux d'été pour une période donnée (cf P1 & P2).

On s'intéresse dans le cadre de cette partie P3 à l'exploration via SQL des résultats des JO d'été (table : `summer`).

---

### Question 1: Qu'est ce que SQL ?

Est un langage permettant de communiquer avec une base de données. Un langage de requète. SQL permet de rechercher, d'ajouter, de modifier ou de supprimer des données dans les bases de données relationnelles (données organisées en tableau à deux dimensions)

*https://fr.wikipedia.org/wiki/Structured_Query_Language*

*https://sql.sh/*

### Question 2: Qu'est ce que SQLite 3 ? Avantages et/ou Inconvénients ?

SQLite3 est un logiciel de gestion de bases de données. Il est simplifié, dans son utilisation mais aussi d'un point de vue de ces fonctionnalités par rapport à MySQL. Il ne nécessite qu'un fichier par base, directement sur le disque dur du serveur (là où MySQL dispose de son propre serveur). Plus largement, SQLite ne reconnaît ni les transactions imbriquées (transaction  qui démarre  à  l'intérieur  d'une  autre transaction), ni les déclencheurs (ou triggers, permet d’exécuter un ensemble d’instruction SQL juste après un événement. Action qui permet de faciliter et d’automatiser des actions au sein d’un Système de Gestion de Base de Données (SGBD).).
SQLite est donc à réserver aux sites à faible besoin de puissance, plus limité par rapport à MySQL.

*http://www.journaldunet.com/developpeur/tutoriel/sql/050127-sqlite-limites.shtml*

*https://sql.sh/*

*https://www.sqlspot.com/sites/sqlspot.com/IMG/pdf/Transactions_imbriquees-2.pdf*

*https://sql.sh/cours/create-trigger*

### Question 3: Donner des exemples d'autres formats de fichier pouvant être utilisé pour fournir des données similaires

cvs, xlm, json, xls

### Question 4: Quel est le type (texte ou binaire) du fichier base de données SQLite3?

Le fichier `olympics.sqbpro` est un fichier binaire

### Question 5: Donner les caractéristiques de la table `summer` ?

la table Summer regroupe les données sur les Jeux Olympiques depuis 1896 à 2012. Elle contient comme information les médailles gagnées en fonction des années, des Villes où se sont déroulés les jeux, des Sports, des Disciplines, du nom des Athlètes,du Pays, du Sexe de l'Athlete et des épreuves.

---
### Question 6: Combien d'enregistrements possède la table `summer` ?

SELECT count(*)
FROM summer
31165

### Question 7: Quelle période des JO couvre ce fichier de résultats ?

SELECT min(Year), max(Year)
FROM summer

1896	2012

### Question 8: Indiquer les années et villes des olympiades ?

SELECT DISTINCT Year, City
FROM summer

![Annees_olympiade](Images/Annees-Olympiade.png)

![Annees_olympiade](Images/Annees-Olympiade2.png)

### Question i:

## Q3. En 2012 combien de médailles le Japon a t-il gagné ? (Théo)

SELECT count(*)
FROM summer
WHERE Year=2012 AND Country="JPN" 

count(*)
84

![Q3](Images/Q3.png)


En prenant en compte une médaille par équipe

![Q3_bis](Images/Q3_bis.png)

## Q17. Entre 1984 et 2012 combien de médailles a gagné la France ? (Abire)

SELECT count(*)
FROM summer
WHERE Year>=1984 AND Year<= 2012  AND Country="FRA"

482

![Q17](Images/Q17.png)

En prenant en compte une médaille par équipe et en fonction du genre

![Q17_bis](Images/Q17_bis.png)

## Q10. Combien de joueuses comptait la sélection brésilienne de volley-ball médaillée d’or aux J.O de 2012 ?

SELECT count(*)
FROM summer
WHERE Year=2012 AND Gender="Women" AND Discipline="Volleyball" AND Medal="Gold"

12

![Q10](Images/Q10.png)

## Q13. Est-ce que la France à déjà gagné une médaille d’or au cricket ?

SELECT count(*)
FROM summer
WHERE Country="FRA" AND Discipline="Cricket" AND Medal="Gold"

0
![Q13](Images/Q13.png)

## Q12. Quel est l’athlète qui a remporté le plus de médailles d’or ?

SELECT Athlete 
FROM summer
WHERE Medal= « Gold »
GROUP by Athlete
ORDER by count(*) DESC

![Q12](Images/Q12.png)

## Q15. Le nombre de médailles d’or par pays en 2012 (Maëlle)

SELECT Country, count(*)
FROM summer
WHERE Medal="Gold" AND Year=2012
GROUP by Country
ORDER by count(*) DESC 

![Q15](Images/Q15.png)

![Q15_bis](Images/Q15_bis.png)

 ## Q5. Quel pays a remporté le plus de médailles d’or ? (Philippe)

SELECT Country, count(*)
FROM summer
WHERE Medal="Gold"
GROUP by Country
ORDER by count(*) DESC
LIMIT 1

![Q5](Images/Q5.png)

![Q5_bis](Images/Q5_bis.png)

## Q16. Combien de femmes ont remporté des médailles ? (Alicia)

SELECT count(*)
FROM summer
WHERE Gender="Women"

![Q16](Images/Q16.png)

## Q7. Combien de femmes ont obtenu  une médaille d’or ? (Lamia)

SELECT count(*)
FROM summer
WHERE Gender="Women" AND Medal="Gold"

![Q7](Images/Q7.png)

## Q11. Combien de femmes françaises ont participé en 2012 , quel sont leurs médailles ?

SELECT DISTINCT Athlete, count(*)
FROM summer
WHERE Gender="Women" AND Year=2012 AND Country="FRA"
GROUP by Athlete
ORDER by count(*) DESC

![Q11](Images/Q11.png)

## Q9. Combien de fois Londres a accueilli les J.O ? (Marvin)

SELECT count(DISTINCT Year)
FROM summer
WHERE City="London"

![Q9](Images/Q9.png)


SELECT DISTINCT Year, City
FROM summer
WHERE City="London"

![Q9_bis](Images/Q9_bis.png)

## Q6. Combien de villes différentes ont accueilli les JO d’été entre 1896 et 2012 ? (Yoann)

SELECT count(DISTINCT City)
FROM summer
WHERE Year>= 1896 AND Year <= 2012 

![Q6](Images/Q6.png)

## Q2. Quel pays a le plus d’athlètes ? (Matthias)

SELECT Country, count(DISTINCT Athlete)
FROM summer
GROUP by Country
ORDER by count(DISTINCT Athlete) DESC
Limit 1

![Q2](Images/Q2.png)

## Q8. Combien de sports différents sont représentés par année ? (joris)

SELECT Year, count(DISTINCT Sport)
FROM summer
GROUP by Year
ORDER by Year

![Q8](Images/Q8.png)
![Q8_bis](Images/Q8_bis.png)

## Q4. Dans quels différents sports les Grecs ont-ils gagné des médailles ? (Corentin L)

SELECT Sport, count(Medal)
FROM summer
WHERE Country="GRE"
GROUP by Sport
ORDER by count(Medal) DESC

![Q4](Images/Q4.png)

## Q14. Combien de médaillés ont un nom de famille de plus de 6 lettres en excluant les années paires ? (jonathan)

SELECT Year, Athlete
FROM summer
WHERE ([Year]%2)!=0 

![Q14](Images/Q14.png)

## Q1 Combien la France a remporté de médailles d’or aux JO de 1984 ? (Christophe)

![Q1](Images/Q1.png)

Prend en compte une médaille par équipe et les médailles par sport individuel (contrairement au premier script)

![Q1_bis](Images/Q1_bis.png)

![Q1_bisbis](Images/Q1_bisbis.png)

---

Fin